

.header-bar {
  background-color: #134703;
  display: flex; 
  flex-direction: row;

}

.name-and-title {
  color: white; 
  display: flex; 
  flex-direction: column; 
  justify-content: baseline;
}
